main {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.game-container {
    position: absolute;
    margin-top: 70px;
    width: 500px;
    height: 540px;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
}
@media screen and (max-width: 520px) {
    .game-container {
        transform: scale(.7,.7);
        transform-origin: top left;
    }
}

.score-container {
    float: right;
    text-align: right;
    height: 50px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
  

.score, .hi-score {
    background: #bbada0;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;     

}

.score::before {
    content: "Score "; 
    font-size: 14px;
    color: white;
    position: absolute;
    text-align: center;
    top: -10px;
    left: 0px;
    width: 100%;
}  

.hi-score::before {
    content: "Hi Score"; 
    font-size: 14px;
    color: white;
    position: absolute;
    text-align: center;
    top: -10px;
    left: 0px;
    width: 100%;
}  

.board {
    position: absolute;
    padding: 15px;
    cursor: default;
    background: #bbada0;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.board-row {
    margin-bottom: 15px;
    position: relative;
}

.board-row:last-child {
    margin-bottom: 0px;
}

.board-row:after {
    content: "";
    display: block;
    clear: both; 
}

.board-cell {
    margin-right: 15px;
    position: relative;
    border-radius: 3px;
    background: #d4cac0;
    width: 106.25px;
    height: 106.25px;
    float: left;
}

.board-cell:last-child {
    margin-right: 0px;
}

.tiles {
    position: absolute;
    padding: 15px;
    cursor: default;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    z-index: 2;  
}

.tile {
    position: absolute;
    border-radius: 3px;
    background: #eeeeee;
    width: 106.25px;
    height: 106.25px;
    line-height: 107px;
    float: left;
    transition: margin 200ms;

    text-align: center;
    font-weight: bold;
    font-size: 55px;
    align-self: center;
}

.tile-row0 {
    margin-top: 0px;
}
.tile-row1 {
    margin-top: 121.25px;
}
.tile-row2 {
    margin-top: 242.5px;
}
.tile-row3 {
    margin-top: 363.75px;
}
.tile-col0 {
    margin-left: 0px;
}
.tile-col1 {
    margin-left: 121.25px;
}
.tile-col2 {
    margin-left: 242.5px;
}
.tile-col3 {
    margin-left: 363.75px;
}


.tile-2 {
    background: #eee4da;
}
.tile-4 {
    background: #f1dbb4;
}
.tile-8 {
    color: #f9f6f2;
    background: #f2b179; 
}
.tile-16 {
    color: #f9f6f2;
    background: #f59563; 
}
.tile-32 {
    color: #f9f6f2;
    background: #f67c5f; 
}
.tile-64 {
    color: #f9f6f2;
    background: #f65e3b; 
}
.tile-128 {
    color: #f9f6f2;
    background: #edcf72;
    font-size: 45px; 
}
.tile-256 {
    color: #f9f6f2;
    background: #edcc61;
    font-size: 45px; 
}
.tile-512 {
    color: #f9f6f2;
    background: #edc850;
    font-size: 45px; 
}
.tile-1024 {
    color: #f9f6f2;
    background: #edc53f;
    font-size: 35px; 
}
.tile-2048 {
    color: #f9f6f2;
    background: #edc22e;
    font-size: 35px; 
}
.tile-4096, .tile-8192 {
    color: #f9f6f2;
    background: #544836;
    font-size: 35px; 
}

.tile-super {
    color: #f9f6f2;
    background: #3c3a32;
    font-size: 30px; 
}

.game-controls {
    float: right;
    text-align: right;
    height: 50px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
  

.history {
    background: #bbada0;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;     

}

.nhistory::before {
    content: "Score "; 
    font-size: 14px;
    color: white;
    position: absolute;
    text-align: center;
    top: -10px;
    left: 0px;
    width: 100%;
}  